{% extends "base.html" %}
{% import "components/typography.html" as typography %}
{% import "components/dropdown.html" as dropdown %}
{% import "components/fields.html" as fields %}
{% import "components/cards.html" as cards %}

{% block main %}
  {{ typography::book_heading(book.title, book, show = false) }}

  {% call cards::card() %}
    <div class="mt-4">
      <h5 class="mt-4 fw-bold">Book details</h5>
      {{ fields::field("Name", book.title) }}
      {{ fields::field("Authors", book.authors) }}

      {% match book.description %}
      {% when Some with (description) %}
        {{ fields::field("Description", description) }}
      {% when None %}
        {{ fields::field("Description", "-") }}
      {% endmatch %}

      <h5 class="mt-50px fw-bold">User Details</h5>
      {{ fields::field("Owner", owner.name) }}

      {% match current_holder %}
      {% when Some with (current_holder) %}
        {{ fields::field("Current Holder", current_holder.name) }}
      {% when None %}
        {{ fields::field("Current Holder", "-") }}
      {% endmatch %}


      <h5 class="mt-50px fw-bold">More Informations</h5>
      {% match book.comment %}
      {% when Some with (comment) %}
        {{ fields::field("Comment", comment) }}
      {% when None %}
        {{ fields::field("Comment", "-") }}
      {% endmatch %}
    </div>
  {% endcall %}
{% endblock %}
