{% extends "base.html" %}
{% import "components/typography.html" as typography %}
{% import "components/dropdown.html" as dropdown %}
{% import "components/fields.html" as fields %}
{% import "components/cards.html" as cards %}

{% block main %}
  {{ typography::book_heading(book.title, book, show = false) }}

  {% call cards::card() %}
    <div class="mt-4">
      <h5 class="mt-4 fw-bold">{{ t!("book.show.book_details") }}</h5>
      {{ fields::field(t!("book.attributes.title"), book.title) }}
      {{ fields::field(t!("book.attributes.authors"), book.authors) }}

      {% match book.description %}
      {% when Some with (description) %}
        {{ fields::field(t!("book.attributes.description"), description) }}
      {% when None %}
        {{ fields::field(t!("book.attributes.description"), "-") }}
      {% endmatch %}

      <h5 class="mt-50px fw-bold">{{ t!("book.show.user_details") }}</h5>
      {{ fields::field(t!("book.attributes.owner"), owner.name) }}

      {% match current_holder %}
      {% when Some with (current_holder) %}
        {{ fields::field(t!("book.attributes.current_holder"), current_holder.name) }}
      {% when None %}
        {{ fields::field(t!("book.attributes.current_holder"), "-") }}
      {% endmatch %}


      <h5 class="mt-50px fw-bold">{{ t!("book.show.more_informations") }}</h5>
      {% match book.comment %}
      {% when Some with (comment) %}
        {{ fields::field(t!("book.attributes.comment"), comment) }}
      {% when None %}
        {{ fields::field(t!("book.attributes.comment"), "-") }}
      {% endmatch %}
    </div>
  {% endcall %}
{% endblock %}
