{% extends "base.html" %}
{% import "components/typography.html" as typography %}
{% import "components/cards.html" as cards %}
{% import "components/inputs.html" as form_helpers %}

{% block title %}
    {{ t!("book.edit.title_tag") }}
{% endblock %}

{% block main %}
  {{ typography::heading(t!("user.edit.title")) }}

  {% call cards::card() %}
    <form action="/users/{{ user.id }}" method="post">
      <div class="row align-items-end">
       <div class="col-md-10">
          {{ form_helpers::input("name", t!("user.attributes.name"), value = user.name, is_required = true, placeholder = "Ex: Kropotkine", margin_bottom = false) }}
       </div>

       <div class="col-md-2">
         <input type="submit" value='{{ t!("user.edit.button") }}' class="btn btn-success">
       </div>
     </div>
    </form>
  {% endcall %}
{% endblock %} 
